<body>
    <h1>Here is a list of my skills. Click one to learn more about it.</h1>
    <ul>
        <% skills.forEach(s => { %>
            <li>
                <%= s.skill %>
            </li>
        <% }); %>
    </ul>
</body>