<%- include('./../partials/header') %>

<h1>Add a Skill</h1> 
<form>
    <input name="skill" placeholder="Skill / Technology">
    <input name="proficiency" placeholder="Proficiency (out of 5)">
    <label for="relearn">Should relearn: <input name="relearn" type="checkbox" checked></label>
    
</form>


<%- include('./../partials/footer') %>
